body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(black, black);
}

* {
    width: 100%;
}

.container-fluid {
    display: flex;
    background-color: black;
}


/* // for navbar // */

.navbar-header {
    font-size: 200%;
    margin-top: 10px;
}

.navbar-header p {
    text-decoration: none;
    background-color: none;
    color: #fff;
}

nav ul {
    color: rgb(235, 240, 245);
    list-style-type: none;
    float: right;
    margin-top: 20px;
    display: flex;
    padding-left: 620px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    background-color: none;
    color: #fff;
    font-size: large;
    display: flex;
    padding-left: 10px;
}

.navbar-side a {
    text-decoration: none;
    background-color: none;
    color: #fff;
}

.navbar-side a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    max-width: 70%;
    margin-top: -1px;
}

#hi {
    margin-left: -30%;
}

.w3-content {
    max-width: 600px;
    max-height: 400px;
    margin-top: 7%;
    margin-left: 10px;
}

.w3-content p {
    font-family: 'Martel Sans';
    font-size: 60px;
    color: #fff;
    margin-left: -45%;
}