body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(black, black);
}

* {
    width: 100%;
}

.container-fluid {
    display: flex;
    background-color: 3C3737;
}


/* // for navbar // */

.navbar-header {
    font-size: 200%;
    margin-top: 10px;
}

.navbar-header p {
    text-decoration: none;
    background-color: none;
    color: #fff;
}

nav ul {
    color: rgb(235, 240, 245);
    list-style-type: none;
    float: right;
    margin-top: 20px;
    display: flex;
    padding-left: 620px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    background-color: none;
    color: #fff;
    font-size: large;
    display: flex;
    padding-left: 70%;
}


/* nav ul li:hover {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    background-color: none;
    color: #fff;
    font-size: large;
    display: flex;
    padding-left: 70%;
} */


/* .navbar-side a {
    text-decoration: none;
    background-color: none;
    color: #fff;
}

.navbar-side a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    max-width: 70%;
    margin-top: -1px;
}
*/

.navbar-side #hi:hover {
    text-decoration: none !important;
    background-color: none;
    color: floralwhite;
}

.navbar-side a {
    color: white !important;
    text-decoration: none !important;
}